/* red-hat-text-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/red-hat-text-v18-latin-regular.woff2") format("woff2");
}
/* red-hat-text-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/red-hat-text-v18-latin-600.woff2") format("woff2");
}
/* red-hat-text-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/red-hat-text-v18-latin-700.woff2") format("woff2");
}

/* Root styles */
:root {
  /* Colors */
  --color-red: #c7380f;

  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  --color-green: #1ea575;

  --color-black: #000000;
  --color-white: #ffffff;

  /* Typography */
  --font-primary: "Red Hat Text", sans-serif;

  --font-size-preset-1: 5.6rem; /* 56px */
  --line-height-preset-1: 1.209; /* 120.9% line-height */
  --letter-spacing-preset-1: 0;

  --font-size-preset-2: 2.4rem; /* 24px */
  --line-height-preset-2: 1.25; /* 125% line-height */
  --letter-spacing-preset-2: 0;

  --font-size-preset-3: 1.6rem; /* 16px */
  --line-height-preset-3: 1.5; /* 150% line-height */
  --letter-spacing-preset-3: 0;

  --font-size-preset-4: 1.4rem; /* 14px */
  --line-height-preset-4: 1.5; /* 150% line-height */
  --letter-spacing-preset-4: 0;
}

/* Global styles */
html {
  font-size: 61.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: flex;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1216px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
  display: grid;
  grid-template-columns: 67.5% calc(32.5% - 3.2rem);
  gap: 3.2rem;
}

.desserts-title {
  font-size: var(--font-size-preset-1);
  line-height: var(--line-height-preset-1);
  margin-bottom: 3.2rem;
}
